### 1. Descriptive Statistics

In [16]:
import pandas as pd

df = pd.read_excel("students_data.xlsx")

pd.options.display.float_format = '{:.0f}'.format

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Student_ID       6 non-null      int64
 1   Name             6 non-null      object
 2   Age              5 non-null      float64
 3   Gender           6 non-null      object
 4   Department       6 non-null      object
 5   GPA              5 non-null      float64
 6   Attendance       6 non-null      float64
 7   Enrollment_Date  6 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 516.0+ bytes

       Student_ID  Age  GPA  Attendance      Enrollment_Date
count           6    5    5           6                    6
mean          104   20    3           1  2023-07-25 00:00:00
min           101   19    3           1  2023-01-09 00:00:00
25%           102   20    3           1  2023-09-01 00:00:00
50%           104   20    4           1  2023-09-01 12:00:00
75%           105   21    4           1  2023-09-02 18:00:00
max           106   22    4           1  2023-09-05 00:00:00
std             2    1    0           0                  NaN